# Foldery
/.venv
/.pytest_cache
/research_driven_setup.egg-info

# Python cache and compiled artifacts
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.ruff_cache/
.hypothesis/
.pyre/
.tox/
.nox/
.pytype/