# Foldery
/.venv
/.pytest_cache
/research_driven_setup.egg-info
/.github
/.research-driven
/node_modules
/.vscode
/research_data

# Sandbox for testing
/sandbox


# Python cache and compiled artifacts
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.ruff_cache/
.hypothesis/
.pyre/
.tox/
.nox/
.pytype/

# Environment files and lock files
*.env
*.env.example
*package-lock.json
*package.json